* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  background-color: rgb(235, 235, 235);
  height: 100%;
}

body {
  overflow-x: hidden;
}

button,
input[type="submit"] {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.clear {
  clear: both;
}

.center {
  padding: 0 2%;
}

/* Login Page: */
.box-login {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container-login {
  width: 100%;
  max-width: 800px;
  margin: 48px auto;
  padding: 0 2%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title-login {
  font-size: 2rem;
  color: #3d437a;
  margin-bottom: 32px;
}

.form-login {
  width: 100%;
  background-color: white;
  padding: 24px 4%;
  box-shadow: 10px 10px 5px rgb(200, 200, 200);
}

.form-login__input {
  width: 100%;
  height: 42px;
  margin: 8px auto;
  display: inline-block;
  padding-left: 16px;
  border: 1px solid #ccc;
}

.form-login__btn-sub {
  width: 100%;
  max-width: 140px;
  height: 42px;
  background-color: #00c59e;
  color: white;
  display: block;
  margin: 24px auto 0 auto;
}

.login-error {
  padding: 8px 2%;
  background-color: rgb(235, 56, 56);
  color: white;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
}

/* Panel Page: */
.box-user {
  text-align: center;
}

.avatar-user {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #2f3d42;
  text-align: left;
}

.avatar-user > i {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #2f3d42;
}

.name-user {
  text-align: center;
  margin-top: 15px;
}

.name-user > p {
  color: white;
  font-size: 16px;
  font-weight: normal;
}

.header-panel {
  width: calc(100% - 300px);
  padding: 10px;
  background-color: #78909c;
  float: left;
}

.menu {
  width: 300px;
  height: 100%;
  float: left;
  background-color: #455a64;
  padding: 10px;
  overflow-x: hidden;
}

.loggout {
  float: right;
}

.loggout a {
  color: white;
  font-size: 17px;
}

.menu-btn {
  float: left;
  cursor: pointer;
  font-size: 23px;
  color: white;
}

/* Panel */
.w100 {
  width: 100%;
}

.w50 {
  width: 48%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.panel {
  width: calc(100% - 300px);
  height: calc(100% - 47px);
  position: fixed;
  top: 47px;
  left: 300px;
  background-color: green;
  overflow-y: scroll;
  display: block;
  padding: 10px;
}

.box-panel {
  padding: 10px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

@media (max-width: 768px) {
  .menu {
    width: 0px;
    padding: 0px;
    display: none;
  }

  .panel {
    width: 100%;
    left: 0;
  }

  .header-panel {
    width: 100%;
  }
}
